@import "../../App.scss";

.pill-button {
    width: 12rem;
    height: 3rem;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(gray),
        to(black)
    );
    // background-image: -webkit-linear-gradient(top, gray, black);
    color: white;
    border: none;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 2px 4px 4px 1px rgba(5, 5, 5, 0.4);
    font-family: $cursive-font;
    font-size: 1.75rem;
}
