@import "./../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poiret+One&family=Sedgwick+Ave&family=Supermercado+One&display=swap");

.card {
    border-radius: 20px;
    max-height: 500px;
    max-width: 400px;
    min-width: 330px;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card-header {
    background-image: linear-gradient(
        5deg,
        rgb(5, 0, 80) 70%,
        rgba(62, 56, 128, 0.774)
    );
    font-family: "Supermercado One", cursive;
    font-size: xx-large;
    color: white;
    margin-bottom: -2px;
}

.card-img-top {
    object-fit: contain;
    max-height: 400px;
    padding: 20px 0 20px 0;
    background-color: black;
    border-radius: 0%;
}

.rnd-top-corners {
    border-radius: 20px 20px 0 0 !important;
}

.card-body {
    border-radius: 0 0 20px 20px;
    object-fit: contain;
    margin-top: -2px;
}

.custom-cards {
    width: 90%;
    box-shadow: 15px 15px 15px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-size: 1rem;
}
