@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sedgwick+Ave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poiret+One&family=Sedgwick+Ave&display=swap");

$title-font-size: 30px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $title-font-size;
    font-family: "Sedgwick Ave", cursive;
    font-family: "Dancing Script", cursive;
    color: white;
}
